<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH02 to EHC2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUgwMg==</data>
					<key>Replace</key>
					<data>RUhDMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH01 to EHC1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUgwMQ==</data>
					<key>Replace</key>
					<data>RUhDMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FBST-&gt;XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RkJTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BIX-&gt;XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0JJWAA=</data>
					<key>Replace</key>
					<data>WEJJWAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BIFA-&gt;XIFA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QklGQQA=</data>
					<key>Replace</key>
					<data>WElGQQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBR-&gt;XMBR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUgs=</data>
					<key>Replace</key>
					<data>WE1CUgs=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBW-&gt;XMBW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CVw0=</data>
					<key>Replace</key>
					<data>WE1CVw0=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECSB-&gt;XCSB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUNTQgc=</data>
					<key>Replace</key>
					<data>WENTQgc=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TACH-&gt;XACH</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VEFDSAk=</data>
					<key>Replace</key>
					<data>WEFDSAk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBA-&gt;XDBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UkRCQQ==</data>
					<key>Replace</key>
					<data>WERCQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBA-&gt;XRBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>V1JCQQ==</data>
					<key>Replace</key>
					<data>WFJCQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBB-&gt;XDBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UkRCQg==</data>
					<key>Replace</key>
					<data>WERCQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBB-&gt;XRBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>V1JCQg==</data>
					<key>Replace</key>
					<data>WFJCQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-no_compat_check abm_firstpolldelay=13000 -lilubetaall -ath9565</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>BOOTX64.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>28</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>built-in</key>
				<integer>1</integer>
				<key>device-id</key>
				<string>0x8168</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Realtek RTL8168/8111/8112 Gigabit Ethernet Controller/Asus</string>
				<key>name</key>
				<string>Realtek Ethernet Controller</string>
				<key>vendor-id</key>
				<string>0x10EC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>built-in</key>
				<integer>1</integer>
				<key>device-id</key>
				<string>0x0036</string>
				<key>device_type</key>
				<string>AirPort Extreme</string>
				<key>model</key>
				<string>Atheros 9565 802.11 b/g/n Wireless Network Adapter</string>
				<key>name</key>
				<string>Atheros 9565</string>
				<key>subsystem-id</key>
				<string>0x0662</string>
				<key>subsystem-vendor-id</key>
				<string>0x11ad</string>
				<key>vendor-id</key>
				<string>0x168c</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmCg==</data>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>device-id</key>
				<data>EgQAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
			<string>Data</string>
			<string>Windows</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>ShowOptimus</key>
		<false/>
		<key>Theme</key>
		<string>Outlines</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Long Log Cache when Kernel Panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio, port 0204, 0x0a260005 0x0a260006</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AgQJAAAEAACHAAAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AgQJAAAIAACHAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AAIAAAAwAAAAAQUJAAAEAACHAAAAAgQJAAAEAACHAAAA/wAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AAIAAAAwAAAAAQUJAAAIAACHAAAAAgQJABAAAACHAAAA/wAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Unlock Port Limit USB XHC Mojave</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g/sPD4MDBQAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<data>ZZwgaAQJ</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/11/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP112.88Z.0146.B00.1804111138</string>
		<key>Board-ID</key>
		<string>Mac-3CBD00234E554E41</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02415130CDDKG1JA</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,2</string>
		<key>SerialNumber</key>
		<string>C02MK7YYG86R</string>
		<key>SmUUID</key>
		<string>C908DD20-0F3F-4F73-8300-9C0428680409</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>